### Data cleaning of ASEAN Food Security Indicators&Consumer Price indices

#### Part 1:  Food Security Indicators

In [ ]:
import numpy as np
import pandas as pd

In [230]:
# read in dataset
df1=pd.read_csv('ASEAN_Food Security Indicators-raw.csv')
df1.head()

,Domain Code,Domain,Area Code (FAO),Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,FS,Suite of Food Security Indicators,26,Brunei Darussalam,6121,Value,21010,Average dietary energy supply adequacy (percen...,20002002,2000-2002,%,123,F,FAO estimate,NaN
1,FS,Suite of Food Security Indicators,26,Brunei Darussalam,6121,Value,21010,Average dietary energy supply adequacy (percen...,20012003,2001-2003,%,125,F,FAO estimate,NaN
2,FS,Suite of Food Security Indicators,26,Brunei Darussalam,6121,Value,21010,Average dietary energy supply adequacy (percen...,20022004,2002-2004,%,127,F,FAO estimate,NaN
3,FS,Suite of Food Security Indicators,26,Brunei Darussalam,6121,Value,21010,Average dietary energy supply adequacy (percen...,20032005,2003-2005,%,127,F,FAO estimate,NaN
4,FS,Suite of Food Security Indicators,26,Brunei Darussalam,6121,Value,21010,Average dietary energy supply adequacy (percen...,20042006,2004-2006,%,127,F,FAO estimate,NaN

In [231]:
# drop useless or duplicated columns
df1=df1.drop(['Domain Code', 'Domain','Area Code (FAO)', 'Year Code','Element Code','Element',
            'Item Code','Unit', 'Flag',
              'Flag Description','Note'], axis=1)
df1.head()

,Area,Item,Year,Value
0,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2000-2002,123
1,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2001-2003,125
2,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2002-2004,127
3,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2003-2005,127
4,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2004-2006,127

In [232]:
# Compute missing values
df1.isnull().sum()

Area       0
Item       0
Year       0
Value    124
dtype: int64

In [234]:
# Impute missing values to 0
df1.fillna(0,inplace=True)
print(df1.isnull().sum())

Area     0
Item     0
Year     0
Value    0
dtype: int64

In [235]:
# Record Items with inconsistent forms of Year column
print('These are Items with inconsistent form of Year:')
n=1
for i in range(len(df1)):
    if df1.iloc[i,0]=='Brunei Darussalam'and df1.iloc[i,2]=='2000-2002':
        print(n,df1.iloc[i,1])
        n+=1
        pass
    pass

These are Items with inconsistent form of Year:
1 Average dietary energy supply adequacy (percent) (3-year average)
2 Average value of food production (constant 2004-2006 I$/cap) (3-year average)
3 Dietary energy supply used in the estimation of prevalence of undernourishment (kcal/cap/day) (3-year average)
4 Share of dietary energy supply derived from cereals, roots and tubers (kcal/cap/day) (3-year average)
5 Average protein supply (g/cap/day) (3-year average)
6 Average supply of protein of animal origin (g/cap/day) (3-year average)
7 Prevalence of undernourishment (percent) (3-year average)
8 Number of people undernourished (million) (3-year average)
9 Cereal import dependency ratio (percent) (3-year average)
10 Percent of arable land equipped for irrigation (percent) (3-year average)
11 Value of food imports in total merchandise exports (percent) (3-year average)
12 Average fat supply (g/cap/day) (3-year average)

In [236]:
# Formatting 'Year' column
for i in range(len(df1)):
    if len(df1.iloc[i,2])==9:
        df1.iloc[i,2]=int((int(df1.iloc[i,2][0:4])+int(df1.iloc[i,2][5:]))/2)
        pass
    elif len(df1.iloc[i,2])==4:
        df1.iloc[i,2]=int(df1.iloc[i,2])
        pass
    else:
        print('There is an error in Year column')
        pass
    pass
df1.head()

,Area,Item,Year,Value
0,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2001,123
1,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2002,125
2,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2003,127
3,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2004,127
4,Brunei Darussalam,Average dietary energy supply adequacy (percen...,2005,127

In [237]:
# Formatting 'Value' column
df1['Value'] = df1.Value.apply(str)
index = df1[df1['Value'].str.contains('<'or'>')].index
for i in index:
    df1.iloc[i,3] = df1.iloc[i,3][1:]
    pass
df1['Value'] = pd.to_numeric(df1['Value'], downcast='float')

In [238]:
# values in 'Item' column contains variables we need to analysis
# should be transferred to key:value format
print(len(df1.Item.unique()))     #compute variable numbers
# Transferred Item
from pandas.core.reshape.reshape import pivot
df1=df1.pivot_table(index=['Area','Year'],columns='Item',values='Value')
df1=df1.reset_index()
df1.head()

42

Item,Area,Year,Average dietary energy requirement (kcal/cap/day),Average dietary energy supply adequacy (percent) (3-year average),Average fat supply (g/cap/day) (3-year average),Average protein supply (g/cap/day) (3-year average),Average supply of protein of animal origin (g/cap/day) (3-year average),Average value of food production (constant 2004-2006 I$/cap) (3-year average),Cereal import dependency ratio (percent) (3-year average),Coefficient of variation of habitual caloric consumption distribution (real number),...,Prevalence of anemia among women of reproductive age (15-49 years),Prevalence of exclusive breastfeeding among infants 0-5 months of age,Prevalence of low birthweight (percent),Prevalence of moderate or severe food insecurity in the total population (percent) (3-year average),Prevalence of obesity in the adult population (18 years and older),Prevalence of severe food insecurity in the total population (percent) (3-year average),Prevalence of undernourishment (percent) (3-year average),Rail lines density (total route in km per 100 square km of land area),"Share of dietary energy supply derived from cereals, roots and tubers (kcal/cap/day) (3-year average)",Value of food imports in total merchandise exports (percent) (3-year average)
0,Brunei Darussalam,2000,2323.0,NaN,NaN,NaN,NaN,NaN,NaN,0.21,...,17.100000,NaN,10.3,NaN,7.2,NaN,NaN,NaN,NaN,NaN
1,Brunei Darussalam,2001,2329.0,123.0,75.699997,87.400002,45.400002,81.0,100.000000,0.21,...,16.600000,NaN,9.5,NaN,7.5,NaN,2.6,NaN,50.0,5.0
2,Brunei Darussalam,2002,2337.0,125.0,78.699997,89.699997,47.700001,85.0,99.599998,0.21,...,16.299999,NaN,9.2,NaN,7.9,NaN,2.5,NaN,48.0,4.0
3,Brunei Darussalam,2003,2345.0,127.0,81.699997,90.300003,48.299999,86.0,95.699997,0.21,...,16.000000,NaN,9.1,NaN,8.2,NaN,2.5,NaN,47.0,4.0
4,Brunei Darussalam,2004,2352.0,127.0,81.000000,88.599998,47.299999,76.0,93.800003,0.21,...,15.700000,NaN,9.2,NaN,8.6,NaN,2.5,NaN,46.0,4.0

#### Part 2: Consumer Price indices

In [239]:
# read in dataset
df2=pd.read_csv('ASEAN_Consumer Price Indices-raw.csv')
df2.head()

,Domain Code,Domain,Area Code (M49),Area,Year Code,Year,Item Code,Item,Months Code,Months,Unit,Value,Flag,Flag Description,Note
0,CP,Consumer Price Indices,96,Brunei Darussalam,2000,2000,23013,"Consumer Prices, Food Indices (2015 = 100)",7001,January,NaN,88.959933,F,FAO estimate,base year is 2015
1,CP,Consumer Price Indices,96,Brunei Darussalam,2001,2001,23013,"Consumer Prices, Food Indices (2015 = 100)",7001,January,NaN,89.702503,F,FAO estimate,base year is 2015
2,CP,Consumer Price Indices,96,Brunei Darussalam,2002,2002,23013,"Consumer Prices, Food Indices (2015 = 100)",7001,January,NaN,90.146512,F,FAO estimate,base year is 2015
3,CP,Consumer Price Indices,96,Brunei Darussalam,2003,2003,23013,"Consumer Prices, Food Indices (2015 = 100)",7001,January,NaN,90.365320,F,FAO estimate,base year is 2015
4,CP,Consumer Price Indices,96,Brunei Darussalam,2004,2004,23013,"Consumer Prices, Food Indices (2015 = 100)",7001,January,NaN,89.822766,F,FAO estimate,base year is 2015

In [240]:
# drop useless or duplicated variables
df2=df2.drop(['Domain Code', 'Domain','Area Code (M49)', 'Year Code',
            'Item Code','Months Code', 'Flag',
              'Flag Description','Note','Unit'], axis=1)
df2.head()

,Area,Year,Item,Months,Value
0,Brunei Darussalam,2000,"Consumer Prices, Food Indices (2015 = 100)",January,88.959933
1,Brunei Darussalam,2001,"Consumer Prices, Food Indices (2015 = 100)",January,89.702503
2,Brunei Darussalam,2002,"Consumer Prices, Food Indices (2015 = 100)",January,90.146512
3,Brunei Darussalam,2003,"Consumer Prices, Food Indices (2015 = 100)",January,90.365320
4,Brunei Darussalam,2004,"Consumer Prices, Food Indices (2015 = 100)",January,89.822766

In [241]:
# split 'Months' column into separate columns
from pandas.core.reshape.reshape import pivot
df2=df2.pivot_table(index=['Area','Year','Item'],columns='Months',values='Value')
df2=df2.reset_index()
df2.head()

Months,Area,Year,Item,April,August,December,February,January,July,June,March,May,November,October,September
0,Brunei Darussalam,2000,"Consumer Prices, Food Indices (2015 = 100)",89.152073,89.408259,89.664445,89.023980,88.959933,89.344212,89.280166,89.088026,89.216119,89.600398,89.536352,89.472305
1,Brunei Darussalam,2000,"Consumer Prices, General Indices (2015 = 100)",94.856250,95.560047,95.560047,94.465251,94.230652,95.325448,95.247248,94.778050,94.856250,95.403648,95.794646,95.638247
2,Brunei Darussalam,2001,"Consumer Prices, Food Indices (2015 = 100)",89.816677,89.968908,90.121140,89.740561,89.702503,89.930850,89.892793,89.778619,89.854735,90.083082,90.045024,90.006966
3,Brunei Darussalam,2001,"Consumer Prices, General Indices (2015 = 100)",96.185645,96.263845,92.588458,95.951046,95.872846,96.263845,96.263845,96.029246,96.185645,94.074253,96.420244,96.420244
4,Brunei Darussalam,2001,Food price inflation,0.745472,0.627067,0.509338,0.804931,0.834724,0.656604,0.686185,0.775180,0.715807,0.538707,0.568118,0.597571

In [243]:
# impute na using mean method
df2_1=df2.iloc[:,3:15]
a1=np.where(np.isnan(df2_1))[0]
a2=np.where(np.isnan(df2_1))[1]
for i in a1:
    for j in a2:
        df2_1.iloc[i,j]=df2_1.iloc[i].mean()

In [244]:
# add new column by mean value of months
df2['Value']=df2_1.apply(lambda x: x.mean(),axis=1)

In [245]:
# drop months columns
df2=df2.drop(['January','February','March','April','May','June','July','August','September','October','November','December'], axis=1)
df2.head()

Months,Area,Year,Item,Value
0,Brunei Darussalam,2000,"Consumer Prices, Food Indices (2015 = 100)",89.312189
1,Brunei Darussalam,2000,"Consumer Prices, General Indices (2015 = 100)",95.142982
2,Brunei Darussalam,2001,"Consumer Prices, Food Indices (2015 = 100)",89.911821
3,Brunei Darussalam,2001,"Consumer Prices, General Indices (2015 = 100)",95.709930
4,Brunei Darussalam,2001,Food price inflation,0.671642

In [246]:
# split the 'Item' column into Food Indices, General Indices, and inflation rates
df2=df2.pivot_table(index=['Area','Year'],columns='Item',values='Value')
df2=df2.reset_index()
df2.head()

Item,Area,Year,"Consumer Prices, Food Indices (2015 = 100)","Consumer Prices, General Indices (2015 = 100)",Food price inflation
0,Brunei Darussalam,2000,89.312189,95.142982,NaN
1,Brunei Darussalam,2001,89.911821,95.709930,0.671642
2,Brunei Darussalam,2002,90.286058,93.494272,0.416298
3,Brunei Darussalam,2003,90.033759,93.743590,-0.279126
4,Brunei Darussalam,2004,90.485887,94.530500,0.503782

#### Part 3: Combine two dataframes

In [249]:
#combine two dataframes
data=pd.merge(df1,df2,on=['Area','Year'],sort=True)
data.head()

Item,Area,Year,Average dietary energy requirement (kcal/cap/day),Average dietary energy supply adequacy (percent) (3-year average),Average fat supply (g/cap/day) (3-year average),Average protein supply (g/cap/day) (3-year average),Average supply of protein of animal origin (g/cap/day) (3-year average),Average value of food production (constant 2004-2006 I$/cap) (3-year average),Cereal import dependency ratio (percent) (3-year average),Coefficient of variation of habitual caloric consumption distribution (real number),...,Prevalence of moderate or severe food insecurity in the total population (percent) (3-year average),Prevalence of obesity in the adult population (18 years and older),Prevalence of severe food insecurity in the total population (percent) (3-year average),Prevalence of undernourishment (percent) (3-year average),Rail lines density (total route in km per 100 square km of land area),"Share of dietary energy supply derived from cereals, roots and tubers (kcal/cap/day) (3-year average)",Value of food imports in total merchandise exports (percent) (3-year average),"Consumer Prices, Food Indices (2015 = 100)","Consumer Prices, General Indices (2015 = 100)",Food price inflation
0,Brunei Darussalam,2000,2323.0,NaN,NaN,NaN,NaN,NaN,NaN,0.21,...,NaN,7.2,NaN,NaN,NaN,NaN,NaN,89.312189,95.142982,NaN
1,Brunei Darussalam,2001,2329.0,123.0,75.699997,87.400002,45.400002,81.0,100.000000,0.21,...,NaN,7.5,NaN,2.6,NaN,50.0,5.0,89.911821,95.709930,0.671642
2,Brunei Darussalam,2002,2337.0,125.0,78.699997,89.699997,47.700001,85.0,99.599998,0.21,...,NaN,7.9,NaN,2.5,NaN,48.0,4.0,90.286058,93.494272,0.416298
3,Brunei Darussalam,2003,2345.0,127.0,81.699997,90.300003,48.299999,86.0,95.699997,0.21,...,NaN,8.2,NaN,2.5,NaN,47.0,4.0,90.033759,93.743590,-0.279126
4,Brunei Darussalam,2004,2352.0,127.0,81.000000,88.599998,47.299999,76.0,93.800003,0.21,...,NaN,8.6,NaN,2.5,NaN,46.0,4.0,90.485887,94.530500,0.503782

In [250]:
#split into different datasets by Area
df_Brunei=data[data['Area'].isin(['Brunei Darussalam'])].iloc[:,1:]
df_Cambodia=data[data['Area'].isin(['Cambodia'])].iloc[:,1:]
df_Indonesia=data[data['Area'].isin(['Indonesia'])].iloc[:,1:]
df_Lao=data[data['Area'].isin(["Lao People's Democratic Republic"])].iloc[:,1:]
df_Malaysia=data[data['Area'].isin(['Malaysia'])].iloc[:,1:]
df_Myanmar=data[data['Area'].isin(['Myanmar'])].iloc[:,1:]
df_Philippines=data[data['Area'].isin(['Philippines'])].iloc[:,1:]
df_Singapore=data[data['Area'].isin(['Singapore'])].iloc[:,1:]
df_Thailand=data[data['Area'].isin(['Thailand'])].iloc[:,1:]
df_VietNam=data[data['Area'].isin(['Viet Nam'])].iloc[:,1:]

In [251]:
#save data
data.to_csv(r'ASEAN_Consumer Price&Food Security Indicators-cleaned.csv',index=False)
df_Brunei.to_csv(r'Brunei_Consumer Price&Food Security Indicators.csv',index=False)
df_Cambodia.to_csv(r'Cambodia_Consumer Price&Food Security Indicators.csv',index=False)
df_Indonesia.to_csv(r'Indonesia_Consumer Price&Food Security Indicators.csv',index=False)
df_Lao.to_csv(r'Lao_Consumer Price&Food Security Indicators.csv',index=False)
df_Malaysia.to_csv(r'Malaysia_Consumer Price&Food Security Indicators.csv',index=False)
df_Myanmar.to_csv(r'Myanmar_Consumer Price&Food Security Indicators.csv',index=False)
df_Philippines.to_csv(r'Philippines_Consumer Price&Food Security Indicators.csv',index=False)
df_Singapore.to_csv(r'Singapore_Consumer Price&Food Security Indicators.csv',index=False)
df_Thailand.to_csv(r'Thailand_Consumer Price&Food Security Indicators.csv',index=False)
df_VietNam.to_csv(r'VietNam_Consumer Price&Food Security Indicators.csv',index=False)